martian-python
openai~=1.3.8
tiktoken~=0.5.2
anthropic>=0.3
anthropic_bedrock
ai21~=1.3.3
cohere~=4.37
aleph-alpha-client
huggingface_hub
prettytable~=3.9.0
aiohttp
google-cloud-aiplatform~=1.28.1
einops
accelerate
protobuf
grpcio~=1.54.2
google-generativeai

setuptools~=68.2.0